<h1>Products Buyed</h1>

<table>
<% @products.each do |u| %>
  <tr>
    <td><%=u.name%></td>
    <td><%=u.description%></td>
    <td>$<%=u.price%></td>
    <td><%=u.seller.try(:email)%></td>
    <% if u.buyer %>
      <td><%=u.buyer.try(:email)%></td>
    <% else %>
      <td><%= link_to "Buy", product_buy_path(u) %></td>
    <% end %>
  </tr>
<% end%>
</table>